body {
    margin: 0;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.control-button {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s, border-color 0.3s;
}

.control-button:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
}

#placeholder {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#placeholder p {
    font-size: 1.2em;
    color: #b4b4b4;
    margin: 0;
    padding: 10px 20px;
    border: 2px solid #b4b4b4;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

#placeholder p:hover {
    background-color: #f0f0f0;
    border-color: #ffd900;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
